h3 {
    color: #6c6d81;
}

p {
    color: #6c6d81;
    font-size: large;
}

h1 {
    color: #ffffff;
    position: relative;
    margin: 200px;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    background-color: #282840;
}

img {
    border: #ffffff 5px solid;
    border-radius: 10px;
    margin: 10px;
    width: 350px;
    height: auto;
}

.stylisied-realism1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.fanart1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.original1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

a:link {
    color: #ffffff;
    padding: 10px;
    margin: 20px;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #282840;
}

.text1 {
    position: fixed;
    border-radius: 20px;
    top: 10px;
    font-size: large;
    padding: 10px !important;    
    background-color: #7074b8
    
}