h3 {
    color: #6c6d81;
}

p {
    color: #6c6d81;
    font-size: large;
}

h1 {
    color: #ffffff;
    position: relative;
    margin: 200px;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    background-color: #282840;
}

img {
    border: #ffffff 5px solid;
    border-radius: 10px;
    margin: 10px;
    width: 350px;
    height: auto;
}

.stylisied-realism1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.fanart1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.original1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

a:link {
    color: #ffffff;
    border-radius: 40px;
    background: #7074b8;
    padding: 10px;
    margin: 8px;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
    background-color: #6c6d81;
}

.homeb {
    position:fixed;
    top: 5px;
    left: 7px;
}