
h1 {
    color: #ffffff;
    position: relative;
    margin-top: 17%;
    margin-bottom: 20px;
    font-size: 50px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

h2 {
    color: #6c6d81;
}

.aboutmep {
    text-align: center;
    color: #6c6d81;
    margin-bottom: 200px;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    background-color: #282840;
}

.subname {
  color: #6c6d81;
  text-align: center;
  margin-bottom: 350px;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
}

a:link {
    font-size: medium;
    color: #ffffff;
    padding:5px;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #282840;
}

.text1 {
    position: fixed;
    border-radius: 20px;
    top: 10px;
    font-size: large;
    padding: 10px;    
    background-color: #7074b8
}

.myname{
  display: flex;
  justify-content: center;
}

.text2 {
  border-right: 2px solid #ffffff;
}

.stylisied-realism1 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

img {
  border: #ffffff 5px solid;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  height: auto;
  box-shadow: 5px 5px 5px #6c6d81;
}