p {
    color: #6c6d81;
}

h1 {
    color: #ffffff;
    position: relative;
    margin: 300px;
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    background-color: #282840;
}

a:link {
    color: #ffffff;
    border-radius: 30px;
    background: #5a62e9;
    padding: 15px;
    width: 200px;
    height: 150px;
    margin: 8px;
}

a:visited {
    color: #ffffff;
}