
h1 {
    color: #ffffff;
    position: relative;
    margin-top: 300px;
    margin-bottom: 250px;
    font-size: 50px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

h2 {
    margin-left: 100px;
    color: #6c6d81;
}

.aboutmep {
    margin-left: 40px;
    color: #6c6d81;
}


body {
    font-family: 'Varela Round', sans-serif;
    font-size: large;
    background-color: #282840;
}

a:link {
    color: #ffffff;
    padding: 10px;
    margin: 20px;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #282840;
}

.text1 {
    position: fixed;
    border-radius: 20px;
    top: 10px;
    font-size: large;
    padding: 10px;    
    background-color: #7074b8
}


.about-meIMG1 {
    height: 500px;
    position: absolute;
    right:200px;
    top:600px;
    border-radius: 15px;
}

.about-meIMG2 {
    height: 500px;
    position: absolute;
    right:200px;
    top:1200px;
    border-radius: 15px;
}

.about-meIMG3 {
    height: 500px;
    position: absolute;
    right:200px;
    top:1800px;
    margin: 10px;
    border-radius: 15px;
}

