p {
    display: flex;
    justify-content: center;
    margin: 40px;
    color: #6c6d81;
    font-size: large;
}

h1 {
    color: #ffffff;
    position: relative;
    margin-top: 200px;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    background-color: #282840;
    color:#6c6d81;
    font-size: large;
}

a:link {
  font-size: medium;
  padding:5px;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #e8883c;
}

.text1 {
  position: fixed;
  top: 10px;
  font-size: large;
  padding: 10px;    
  color: #ffffff;
}
img {
    border: #ffffff 5px solid;
    border-radius: 10px;
    margin: 10px;
    width: 350px;
    height: auto;
}

img:hover {
  box-shadow: 5px 5px 5px #e8883c;
}

.projects {
    display: flex;
    justify-content: center;
}

.myprojects{
  display: flex;
  justify-content: center;
}

.text2 {
  border-right: 2px solid #ffffff;
}